# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code ,LINUX,MAC,WINDOWS
.vscode/

# Virtual Environment .VENV .venv/actiavte/scripts/activate.
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db