# set up Environment variables 
.env

# Python cache updated
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code ,LINUX,MAC,WINDOWS
.vscode/

# Virtual Environment .VENV .venv/actiavte/scripts/activate.
venv/
.venv/
env/

# OS files chrom adb or astra db used for storeing the large amount of data in particular data sets.

.DS_Store
Thumbs.db